body {

    font-family: Arial, sans-serif;
    background: #f2f6fc;

}


.container {

    width: 400px;
    margin: 50px auto;
    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0px 0px 15px #ccc;

}


h1 {

    text-align:center;
    color:#2563eb;

}


label {

    display:block;
    margin-top:15px;
    font-weight:bold;

}


input, select {

    width:100%;
    padding:10px;

    margin-top:5px;

    border:1px solid #ccc;

    border-radius:5px;

}


button {

    width:100%;

    margin-top:25px;

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:5px;

    font-size:16px;

    cursor:pointer;

}


button:hover {

    background:#1d4ed8;

}


#message {

    margin-top:20px;

    text-align:center;

    font-weight:bold;

}